.project__navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.project__navigation button {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.project__navigation button.active {
    color: #00ff00; /* Green for active button */
    font-weight: bold;
}

@media (max-width: 600px) {
    .project__navigation {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .project__navigation button {
        font-size: 1rem;
    }
}
