.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 300;
    padding: 20px;
}

.navbar .box,
.navbar .nav__tabs {
    display: flex;
    align-items: center;
    gap:   10px;
}

.navbar .nav__tabs .tab {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.navbar .cancel__btn,
.navbar .menu__btn {
    display: none;
    background: transparent;
    font-size: 25px;
}

